@using static IEnumerable<Proba3.Models.Manufacturer>
@model Proba3.Models.Equipment
@{
    ViewData["Title"] = "Create";
}


<div class="row" id="mainsection">
    <div id="sidebar" class="container">  
        <form class="siteform" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ser_num" class="control-label"></label>
                <input asp-for="Ser_num" class="form-control" />
                <span asp-validation-for="Ser_num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inv_num" class="control-label"></label>
                <input asp-for="Inv_num" class="form-control" />
                <span asp-validation-for="Inv_num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <input asp-for="ManufacturerId" class="form-control" />
                <span asp-validation-for="ManufacturerId" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <button><a asp-action="Index">Назад</a></button>
        </div>
    </div>
    <div id="mainbar" class="container"> 
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
