* {
    padding: 0;
    margin: 0;
}
body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
header { 
    position: fixed;
    z-index: 1000;   
}
footer {
    height: 100px;
    justify-content: center; 
}
header, footer {
    display: flex;
    background-color: #54B4D3;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}
#mybrand {
    display: flex;
    width: 20%;
    justify-content: center;
}

#enter {
    display: flex;
    width: 20%;
    justify-content: center;
}
#author {
    color: red;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
}

#password {
    margin-top: 10px;
}

#main_nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.mainmenu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#reklama {
    display: inline-flex;
    position: relative;
    top: 30px;
    height: 200px;
    width: 100%;
}
.side_img {
    width: 20%;
    opacity: 0.5;
}
img {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.disabled {
    color: grey;
    pointer-events: none;
}
.dropdown {
    position: relative;
}
#submenu1, #submenu2, #submenu3, #submenu5 {
    display: none;
    position: absolute;
    top: 30px;
    width: 180px;
    z-index: 100;
    background-color: #54B4D3;
}
.submenu a {
    color: white;
    font-weight: 200;
    font-size: 14px;
    width: 180px;
}
#add_equip_form {
    flex-direction: column;
    width: 100%;
}
#find_equip_form {
    display: none;
}

.table {
    display: none;
    font-size: 14px;
}
#id {
    width: 5%;
}
td {
    width: 7%;
    font-size: 14px;
}
tr {
    background-color: lightblue;
    text-align: center;
    border-bottom: 1px solid white;
}
    tr:hover {
        background-color: #f90;
    }
.active {
    background-color: #f90;
}
button {
    color: #54B4D3;
    font-weight: bold;
    border: 1px solid #54B4D3;
    font-size: 18px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding:2px;
}
    button:hover {
        color: white;
        background-color: #54B4D3;
        border: 2px solid #54B4D3;
    }
.operation {
    display: none;
    width: 30px;
    height: 30px;
}
#submit {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.submenu a:hover {
    background-color: #f90;
    font-size: 14px;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.slider {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
}

    .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}

.prev-button {
    left: 20px;
}

.next-button {
    right: 20px;
}
